.DS_Store
.python-version
.artwork
*.pyc
.venv
.env
.RData
.Rhistory
sandbox
final-de-curso.md
ut0/intro/*
!ut0/intro/images
!ut0/intro/slides.tex
!ut0/intro/slides.pdf
ut*/pop*/*
ut*/tep*/*
ut*/tei*/*
ut*/notes.txt
# Para resetear borrar de aquí para abajo
!ut2/tep2.1/*.md
!ut2/pop2.1/*.md
!ut3/tei3.1/*.md
!ut3/tei3.1/images
!ut3/tep3.1/*.md
# !ut3/pop3.1/*.md
# !ut4/tep4.1/*.md
# !ut4/pop4.1/*.md
# !ut4/pop4.2/*.md
# !ut4/tei4.1/*.md
# !ut5/tep5.1/*.md
# !ut5/pop5.1/*.md
# !ut5/pop5.2/*.md
