.DS_Store
.python-version
.artwork
*.pyc
.venv
.env
.RData
.Rhistory
ut0/files/chat_done.dat
ut0/files/max_product*.py
ut0/files/fnbn*.py
ut3/pop1/notes/files/travel
ut3/pop1/travel
ut4/pop1/notes/files/mkedit
ut4/pop1/mkedit
ut5/pop1
