{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block heading %}Add new event{% endblock %}

{% block contents %}
  <form method="post" action="{% url 'events:add' %}" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <div class="buttons mt-4">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-plus-circle-fill"></i>
        Add new event
      </button>
  
      <a class="btn btn-danger ms-3" href="{% url 'events:list' %}">
        <i class="bi bi-x-lg"></i>
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
