{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Nanobits{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'blog/custom.css' %}">
    <!-- <link rel="icon" href="images/favicon.png" /> -->
  </head>

  <body>
     {% block body %}{% endblock body %}
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
