{% extends "blog/base.html" %}

{% block title %}Nanobits | Home{% endblock title %}

{% block body %}
  <div class="row">
    <div class="col-8">
      {% for post in posts %}
        <h2><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
        <span class="badge text-bg-secondary">
          <i class="bi bi-pen"></i>
          {{ post.created_at }}
        </span>
        <p>{{ post.content|truncatewords:20 }} <a href="{% url 'blog:post-detail' post.slug %}">[Read more]</a></p>
      {% endfor %}
    </div>
    <div class="col-4">
      <h5>
        <div class="mb-3">
          Total posts: <strong>{{ num_posts }}</strong> post{{ num_posts|pluralize }}
          {% if num_posts > 1 %}
            <i class="bi bi-stars"></i>
          {% else %}
            <i class="bi bi-emoji-frown"></i>
          {% endif %}
        </div>
      </h5>
      <a class="btn btn-primary" href="{% url 'blog:add-post' %}" role="button">
        <i class="bi bi-plus-circle"></i>
        Add new post
      </a>
    </div>
  </div>
{% endblock body %}
