{% extends "blog/base.html" %}

{% block title %}Nanobits | Home{% endblock title %}

{% block body %}
  <h1>Nanobits: the ultimate tech blog!</h1>
  <p>Check out our great posts below...</p>
  <p>
    Total posts: <strong>{{ num_posts }}</strong> post{{ num_posts|pluralize }}
    {% if num_posts > 1 %}
      🎉
    {% else %}
      😔
    {% endif %}
  </p>
  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <div class="post-date">{{ post.created_at }}</div>
    <p>{{ post.content|truncatewords:20 }} <a href="{% url 'blog:post_detail' post.slug %}">[Read more]</a></p>
  {% endfor %}
{% endblock body %}
